{# TODO: image of editing essays #}
{# TODO: button coloring #}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>AdmitMe</title>
    <style>
        h1 {text-align: center; margin-top: 80px}
        h2 {text-align: center;}
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button{
            float:left;
            margin:2px;
        }
    </style>
  </head>
  <body>
    <div id="navbar">
        <a href="/">
            <img src="https://i.imgur.com/MRGuTdT.png"
                 alt="logo" width="150"
                 style="margin-left: 1%; margin-top: 20px"/>
        </a>
        <a href="/platform"
           class="btn btn-primary float-right"
           role="button"
           style=
                   "margin-right: 1%;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
        >
            Sign Up
        </a>
        <a href="/platform"
           class="btn btn-primary float-right"
           role="button"
           style=
                   "margin-right: 20px;
                   margin-top: 20px;
                   background-color: white;
                   border-radius: 20px;
                   color: #ff6587;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
        >
            Log In
        </a>
    </div>

    <!-- upper div container for title & tagline-->
    <div class="container">
        <h1
                class="display-4 font-weight-bold">
            Welcome to <span style="color: #ff6587">Snag</span>.
        </h1>

        <h2 style="color: #868686;
                  margin-top: 30px">
            What are you looking for today?
        </h2>
    </div>

    <!-- buttons side by side-->
    <div class="container">
        <div class="center">
            <a href="/register" class="btn btn-primary float-right" role="button" style="
                   margin-right: 20px;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
            >Cleaning Supplies</a>
            <a href="/register" class="btn btn-primary float-right" role="button" style="
                   margin-right: 20px;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
            >Exercise Equipment</a>
            <a href="/register" class="btn btn-primary float-right" role="button" style="
                   margin-right: 20px;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
            >Tech</a>
        </div>
    </div>

    <!-- buttons side by side-->
    <div class="container">
        <div class="center">
            <a href="/register" class="btn btn-primary float-right" role="button" style="
                   margin-right: 20px;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
            >Save</a>
            <a href="/register" class="btn btn-primary float-right" role="button" style="
                   margin-right: 20px;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
            >Save</a>
            <a href="/register" class="btn btn-primary float-right" role="button" style="
                   margin-right: 20px;
                   margin-top: 20px;
                   background-color: #ff6587;
                   border-radius: 20px;
                   color: #fff;
                   border-color: #ff6587;
                   border-width: 3px;
                   padding: 5px 30px"
            >Save</a>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
